<!-- the base form for header and footer -->
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}JMDB: Julian's Movie Database{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}"><!-- My Website Logo URL -->
</head>
<body>
<header>

    <h1>JMDB: Julian's Movie Database</h1>

    <nav>
        <ul>

            {% if user.is_staff %}
            <li><a class="welcome-message">Welcome Admin, <span class="username">{{ user.username }}</span></a></li>
            {% elif user.is_authenticated %}
            <li><a class="welcome-message">Welcome, <span class="username">{{ user.username }}</span></a></li>
            {% endif %}
            <li><a href="{% url 'home' %}" class="btn">Home</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'logout' %}" class="btn">Logout</a></li>
            {% else %}
            <li><a href="{% url 'login' %}" class="btn">Login</a></li>
            <li><a href="{% url 'signup' %}" class="btn">Signup</a></li>
            {% endif %}

        </ul>
    </nav>
</header>


<main>
    {% block content %} {% endblock %}
</main>

<footer>
    <p>&copy; 2024 JMDB: Julian's Movie Database</p>
</footer>
</body>
</html>
